<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Eat Burgers!!</title>
    <!--Bootstrap css link, jquery script, and external own js script-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/burgerStyle.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/public/assets/js/jQueryBurger.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <!--picture or icon of a burger-->
            <img class="mx-auto" src="./assets/img/burger1.png" alt="Burger">
        </div>
        <div class="row">
            <div class="mx-auto my-2 title">EAT-DA-BURGER!</div>
        </div>
        <div class="row">
            {{{ body }}}
        </div>
        <div class="row">
            <!--textarea with button and instructions-->
            <textarea class="form-control my-3 mx-auto text"></textarea>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary mx-auto my-2 submit">Submit</button>
        </div>
        <div class="row">
            <div class="mx-auto info">Type the burger you like to eat and then click "SUBMIT"</div>
        </div>
    </div>
</body>
</html>