<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Eat Burgers!!</title>
    <!--Bootstrap css link, jquery script, and external own js script-->
    

    <script src= "/public/assets/js/jQueryBurger.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>