<div class="col">
    <ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> eaten/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
    </ul>
</div>
<div class="col">
    <ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> eaten/burger-block devoured=true}}
        {{/if}}
    {{/each}}
    </ul>
</div>
