body {
    background-color: orange;
}

.title {
    color: rgb(134, 3, 146);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/*make the button invisible when the burger is devoured*/
.change-devoured[data-newdevoured="true"] {
    background-color: orange;
}
/*if burger is not devoured then button will be bootstrap primary color blue*/
.change-devoured[data-newdevoured="false"] {
    background-color: #0275d8;
}

#hide {
    display: none;
}

